<section class="disqus">
    <div id="disqus_thread">
        <div id="disqus_thread_loader">Ładowanie komentarzy...</div>
    </div>
    <script>
        var disqus_observer = new IntersectionObserver(function(entries) {
            // comments section reached
            // start loading Disqus now
            if(entries[0].isIntersecting) {
                var disqus_config = function () {
                this.page.url = '{{page.url | absolute_url}}';
                this.page.identifier = '{{page.url | absolute_url}}';
                };
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://{{site.disqus}}.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();

                // once executed, stop observing
                disqus_observer.disconnect();
            }
        }, { threshold: [0] });
        disqus_observer.observe(document.querySelector("#disqus_thread"));
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
