<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                </a>
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:20 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-2 pl-1">
                        {% if post.tags contains "bardzo-prosty-przepis" %}
                            <span class="post-icon"><img src="/assets/images/difficulty-1.png" title="Trudność: bardzo prosty"></span>
                        {% elsif post.tags contains "prosty-przepis" %}
                            <span class="post-icon"><img src="/assets/images/difficulty-2.png" title="Trudność: prosty"></span>
                        {% elsif post.tags contains "sredniotrudny-przepis" %}
                            <span class="post-icon"><img src="/assets/images/difficulty-3.png" title="Trudność: średni"></span>
                        {% elsif post.tags contains "trudny-przepis" %}
                            <span class="post-icon"><img src="/assets/images/difficulty-4.png" title="Trudność: trudny"></span>
                        {% endif %}
                        </div>
                        <div class="col-2 pl-0">
                        {% if post.tags contains "wypiek-na-zakwasie" %}
                            <span class="post-icon"><img src="/assets/images/sourdough.png" title="Wypiek na zakwasie"></span>
                        {% elsif post.tags contains "wypiek-na-drozdzach" %}
                            <span class="post-icon"><img src="/assets/images/yeast.png" title="Wypiek na drożdżach"></span>
                        {% endif %}
                        </div>
                        <div class="col-2 pl-0">
                        {% if post.tags contains "uzyj-formy" %}
                            <span class="post-icon"><img src="/assets/images/baking-pan.png" title="Użyj formy"></span>
                        {% elsif post.tags contains "uzyj-kamienia" and post.tags contains "uzyj-blachy" %}
                            <span class="post-icon"><img src="/assets/images/baking-tray.png" title="Użyj uzyj-kamieniaia lub blachy"></span>
                        {% elsif post.tags contains "uzyj-kamienia" %}
                           <span class="post-icon"><img src="/assets/images/baking-tray.png" title="Użyj uzyj-kamieniaia"></span>
                        {% elsif post.tags contains "uzyj-blachy" %}
                            <span class="post-icon"><img src="/assets/images/baking-tray.png" title="Użyj blachy"></span>
                        {% elsif post.tags contains "uzyj-garnka-zeliwnego" %}
                            <span class="post-icon"><img src="/assets/images/dutch-oven.png" title="Użyj garnka żeliwnego"></span>
                        {% endif %}
                        </div>
                         <div class="col-6 pr-0">
                            <span class="post-date postbox-date">{{ post.date | date: "%d.%m.%Y" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->